
.el-date-range-picker.el-picker-panel {
    color: #606266;
    border: 1px solid #e4e7ed;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: rgba(0, 17, 33, .85);
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
}

.el-date-range-picker.el-picker-panel .el-input__inner {
    -webkit-appearance: none;
    background-color: rgba(0, 17, 33, .85);
    background-image: none;
    border-radius: 4px;
    border: 1px solid #2C4155;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(45, 243, 255, 1);
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    -o-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.el-date-range-picker.el-picker-panel .el-input.is-disabled .el-input__inner {
    background-color: rgba(0, 17, 33, .85);
    border-color: #2C4155;
    color: rgba(45, 243, 255, 1);
    cursor: not-allowed;
}

.el-date-range-picker.el-picker-panel .el-date-table td span {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    line-height: 24px;
    position: absolute;
    left: 50%;
    color: rgba(223, 253, 255, 1);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
}

.el-date-range-picker.el-picker-panel .el-date-table td.end-date span, .el-date-range-picker.el-picker-panel .el-date-table td.start-date span {
    background-color: #1B5F90;
}

.el-date-range-picker.el-picker-panel .el-date-table td.in-range div, .el-date-range-picker.el-picker-panel .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-range-picker.el-picker-panel .el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #178596;
}

.el-date-range-picker.el-picker-panel .el-date-range-picker.el-picker-panel {
    color: #DFFDFF;
    border: 1px solid #e4e7ed;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: rgba(0, 17, 33, .85);
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
}

.el-date-range-picker.el-picker-panel .el-date-range-picker.el-picker-panel {
    color: #DFFDFF;
    border: 1px solid #e4e7ed;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: rgba(0, 17, 33, .85);
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
}

.el-date-range-picker.el-picker-panel .el-date-range-picker__header div {
    font-size: 16px;
    font-weight: 500;
    margin-right: 50px;
    color: #DFFDFF;
}

.el-date-range-picker.el-picker-panel .el-date-table th {
    padding: 5px;
    color: #DFFDFF;
    font-weight: 400;
    border-bottom: solid 1px #ebeef5;
}

.el-date-range-picker.el-picker-panel .el-picker-panel__footer {
    border-top: 0px solid #e4e4e4;
    padding: 4px;
    text-align: right;
    background-color: rgba(0, 17, 33, .85);
    position: relative;
    font-size: 0;
}

.el-date-range-picker.el-picker-panel .el-date-table td.next-month, .el-date-range-picker.el-picker-panel .el-date-table td.prev-month {
    color: #b2b6bd;
}

.el-date-range-picker.el-picker-panel .el-button--text {
    color: #24C7D5;
    background: 0 0;
    padding-left: 0;
    padding-right: 0;
}

.el-date-range-picker.el-picker-panel .el-button.is-plain:focus, .el-date-range-picker.el-picker-panel .el-button.is-plain:hover {
    background: #24C7D5;
    border-color: #24C7D5;
    color: rgba(223, 253, 255, 1);
}

.el-date-range-picker.el-picker-panel .el-button.is-disabled.is-plain, .el-date-range-picker.el-picker-panel .el-button.is-disabled.is-plain:focus, .el-button.is-disabled.is-plain:hover {
    background-color: #24C7D5;
    border-color: #24C7D5;
    color: rgba(223, 253, 255, 1);
}

.el-date-range-picker.el-picker-panel .el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    /*background: #24C7D5;*/
    /*border: 1px solid #24C7D5;*/
    /*color:rgba(223,253,255,1);*/
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    font-weight: 500;
    /*padding: 12px 20px;*/
    font-size: 14px;
    border-radius: 4px;
}

.el-date-range-picker.el-picker-panel .el-date-table td.end-date span, .el-date-range-picker.el-picker-panel .el-date-table td.start-date span {
    background-color: #1B5F90;
}


.el-popper.el-select-dropdown {
    position: absolute;
    z-index: 1001;
    border: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0;
}

.el-popper.el-select-dropdown .el-select-dropdown__item {
    font-size: 14px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: rgba(198, 212, 228, 1);
    height: 34px;
    line-height: 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.el-popper.el-select-dropdown .el-select-dropdown__item.selected {
    color: rgba(45, 243, 255, 1);

}

.el-popper.el-select-dropdown .el-select-dropdown__item.hover, .el-popper.el-select-dropdown .el-select-dropdown__item:hover {
    color: rgba(45, 243, 255, 1);
    background-color: rgba(0, 0, 0, .4);

}


.el-date-picker.el-popper.el-picker-panel {
    color: #DFFDFF;
    border: 0;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    background: rgba(0, 17, 33, .85);
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
}

.el-date-picker.el-popper.el-picker-panel .el-date-table td.today span {
    font-family: HiraginoSansGB-W6;
    font-weight: bold;
    color: rgba(223, 253, 255, 1);
}

.el-date-picker.el-popper.el-picker-panel .el-date-table td.available:hover {
    color: #198C9B;
}

.el-date-picker.el-popper.el-picker-panel .el-date-table th {
    padding: 5px;
    color: #DFFDFF;
    font-weight: 400;
    border-bottom: solid 1px #ebeef5;
}

.el-date-picker.el-popper.el-picker-panel .el-date-picker__header-label {
    font-size: 16px;
    font-weight: 500;
    padding: 0 5px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    color: #2DF3FF;
}

.el-date-picker.el-popper.el-picker-panel .el-date-table td.current:not(.disabled) span {
    color: #fff;
    background-color: #178596;
}

.el-date-picker.el-popper.el-picker-panel .el-year-table td .cell:hover, .el-date-picker.el-popper.el-picker-panel .el-year-table td.current:not(.disabled) .cell {
    color: #2DF3FF;
}
.el-date-picker.el-popper.el-picker-panel .el-year-table td .cell{
  color: white;
}
.el-date-picker.el-popper.el-picker-panel .el-date-picker__header-label {
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: white;
}
.el-date-picker.el-popper.el-picker-panel .el-year-table td.disabled .cell {
  background-color: #263442;
  cursor: not-allowed;
  color: #c0c4cc;
}


.el-date-picker.el-popper.el-picker-panel .el-month-table td .cell:hover, .el-date-picker.el-popper.el-picker-panel .el-month-table td.current:not(.disabled) .cell {
    color: #2DF3FF;
}

.el-date-picker.el-popper.el-picker-panel .el-month-table td .cell{
  color: white;
}
.el-date-picker.el-popper.el-picker-panel .el-month-table td.disabled .cell {
  background-color: #263442;
  cursor: not-allowed;
  color: #c0c4cc;
}
.el-picker-panel__content .el-date-table td.disabled div {
   background-color: #263442;
    /*opacity: 1;*/
    cursor: not-allowed;
    color: #5e6566;
}

.el-picker-panel.el-date-range-picker.el-popper .el-date-table td.disabled div span {
    /*background-color: rgba(0, 17, 33, .85);*/
    /*opacity: 1;*/
    /*cursor: not-allowed;*/
    color: #5e6566;
}

.content .el-date-editor .el-range__close-icon {
    font-size: 14px;
    color: #2df3ff;
    width: 25px;
    display: inline-block;
    float: right;
    line-height: 32px;
}

.el-picker-panel.el-date-range-picker.el-popper .el-picker-panel__icon-btn {
    font-size: 12px;
    color: #2df3ff;
    border: 0;
    background: 0 0;
    cursor: pointer;
    outline: 0;
    margin-top: 8px;
}

.el-picker-panel.el-date-range-picker.el-popper .el-button.el-button--default {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #24C7D5;
    border: 1px solid #24C7D5;
    color: rgba(223, 253, 255, 1);
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.el-popper[x-placement^=bottom] .popper__arrow::after{
  top: 1px;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #303133 !important;
}
