// 项目颜色配置变量文件
$dark-blue: #3758A5;
$blue-color: #4E8EE4;
$lightBlue-color: #EAF0F7;
$lightBlue-color2: #FBFCFD;
$darkGrey-color: #404040;
$darkGrey-color05: #707070;
$darkGrey-color04: #A0A0A0;
$darkGrey-color035: #BFBFBF;
$darkGrey-color025: #D2D2D2;
$darkGrey-color010: #EEEEEE;
$title-size32: 32px;
$title-size24: 24px;
$title-size20: 20px;
$title-size18: 18px;
$title-size16: 16px;
$title-size14: 14px;
$title-size12: 12px;
// $yellow-light: rgb(255, 209, 0);

