//重置elementUI  样式   全局
@import './assets/img/iconfont/iconfont.css';

.DS {
  font-family: 'DS-Digital' !important;
}

.jzzyt {
  font-family:'jingzhizongyiti1690c461de1c415' !important;
  font-weight: 100 !important;
}


.reverse{
  transform: rotate(180deg);
}

